$maxmobile:"(max-width:767px)";
$maxsmall:"(max-width:991px)";
$minsmall:"(min-width:768px)";/*من اول شاشه صغيره وانت طلع*/
$minmedim:"(min-width:992px)";
$minlarg:"(min-width:1200px)";




$mincolor:#e2494c;
$greencolor:#9c9c9c;
$float-left:left;
$float-right:right;
$color-bokout:#505050;
$text-right:right;
$text-left:left