*{
    @include prefixer(box-sizing, border-box, webikt  moz);
}

.container{
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    @media #{$minsmall} {
       width: 750px; 
    }
    @media #{$minmedim} {
        width: 970px; 
     }
     @media #{$minlarg} {
        width: 1170px; 
     }
}
.clearfix{
    clear: both;
}
.text-center-xs{
    @media #{$maxmobile} {
       text-align: center; 
    }

}